:root {
  // colors
  --color-n80: #111214;
  --color-n60: #656D85;
  --color-n50: #9095A3;
  --color-n40: #C5CAD6;
  --color-n30: #E1E6F0;
  --color-n20: #F0F3FA;
  --color-n10: #F7F9FC;
  --color-n02: #E1E6F0;
  --color-n00: #FFFFFF;
  --color-ng40: linear-gradient(180deg, #E1E6F0 0%, #CED3E0 100%);
  --color-ng20: linear-gradient(180deg, #F0F3FA 0%, rgba(240, 243, 250, 0) 100%);
  --color-ng10: linear-gradient(222.5deg, rgba(250, 251, 255, 0.8) 47.82%, rgba(245, 247, 252, 0) 100%);
  --color-pgd: radial-gradient(50% 50% at 0% 0%, rgba(0, 133, 133, 0.08) 0%, rgba(0, 133, 133, 0) 100%), radial-gradient(50% 50% at 100% 0%, rgba(255, 150, 31, 0.1) 0%, rgba(255, 150, 31, 0) 100%);
  --color-ntd40: rgba(0, 0, 0, 0.4);
  --color-ntd10: rgba(0, 0, 0, 0.1);
  --color-ntd04: rgba(0, 0, 0, 0.04);
  --color-ntl20: rgba(255, 255, 255, 0.2);
  --color-ntl80: rgba(255, 255, 255, 0.8);
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-pri60: #007A6A;
  --color-pri50: #008585;
  --color-pri02: rgba(7, 163, 142, 0.2);
  --color-pri01: rgba(7, 163, 142, 0.1);
  --color-pg006: linear-gradient(185.06deg, rgba(0, 133, 133, 0.012) 4.07%, rgba(0, 133, 133, 0.06) 95.93%);
  --color-g60: #21A35D;
  --color-g50: #00B87A;
  --color-b60: #1F69FF;
  --color-r60: #F54814;
  --color-y50: #FFB60A;

  // font: h1~h5
  --font-size-h1: 24px;
  --line-height-h1: 32px;
  --font-size-h2: 20px;
  --line-height-h2: 30px;
  --font-size-h3: 16px;
  --line-height-h3: 24px;
  --font-size-h4: 16px;
  --line-height-h4: 24px;
  --font-size-h5: 12px;
  --line-height-h5: 19px;
  // font: huge, large, big
  --font-size-huge: 48px;
  --line-height-huge: 48px;
  --font-size-large: 40px;
  --line-height-large: 52px;
  --font-size-big: 36px;
  --line-height-big: 48px;
  // font: functions
  --font-size-meidum: 24px;
  --line-height-meidum: 32px;
  --font-size-head: 20px;
  --line-height-head: 28px;
  --font-size-body: 16px;
  --line-height-body: 24px;
  --font-size-caption: 14px;
  --line-height-caption: 20px;
  --font-size-subcaption: 12px;
  --line-height-subcaption: 18px;
  // shadows
  --shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}
