.modal {
  border-radius: 20px !important;
  overflow: hidden;
  &.mini {
    width: 360px;
  }
  &.small {
    width: 440px;
  }
}

.content {
  padding: 0 !important;
  height: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  color: var(--color-n80);
  cursor: pointer;
}
